.wrapper {
  width: 55%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;

  mat-chip-list {
    width: 100%;
  }

  h1 {
    text-align: left;
    font-weight: 600;
    background-color: rgb(237, 237, 237);
    padding: 8px 16px;
    border-radius: 8px;
    width: max-content;
    color: rgb(61, 61, 61);
    text-transform: uppercase;
  }

  .note {
    width: 80%;
    background-color: rgba(61, 61, 165, 0.3);
    border-radius: 8px;
    border-left: 3px solid rgb(61, 61, 165);
    padding: 4px 16px;
    display: flex;
    align-items: center;
    color: rgb(35, 35, 93);
    flex-direction: column;
    align-items: flex-start;
  }
}
.txt-span {
  text-transform: lowercase;
  font-weight: 500;
}

.spinner {
  width: 100%;
  display: flex;
  margin-top: 16px;
  justify-content: center;
}
